
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body>div {
	padding: 25px;
}

#header, #footer {
	text-align: center;
}

#header {
	background-color: red;
	height: 75px;
    font-size: 36px;
}

#divinput {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#divoutput {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#divtokens, #divast {
    width: 50%;
    float: left;
	overflow: scroll;
    max-height: 400px;
}

.end {
    clear: both;
}

#footer {
	clear: both;
	background-color: orange;
	height: 100px;
}

#input {
    height: 300px;
    width: 100%;
}

#parse {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    height: 30px;
}
